{% extends "base.html" %}{% block title %}Board{% endblock %} {% block content %}

<style>
    .board-frame {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
  }
  </style>
  <body>
  <h1 align ="center">התביעות שלי</h1>
<table style="margin-top: 20px;" cellpadding="10" cellspacing="0" class="board-frame">
    
    <!-- Table headers -->
        <th>
             <tr style="color: black; ">
    
            <th>מס תביעה</th>
            <th>תאריך</th>
            <th>פירוט על התביעה</th>
            <th>מייל</th>
            <th>חברה נתבעת</th>
            <th>סטטוס</th>
            <th >מייל לשליחה</th>
            
            </tr>
        </th>
    {%for note in user.notes %}
        <tr class="spacer">
            <td>
                {{note.id}}
             </td>
            <td>
                {{note.date}}
             </td>
             <td>
                {{note.data}}
            </td>
            <td>
                {{user.email}}
            </td>
            <td>
                {{note.SCompanyName}}
            </td>
            <td>
                {{note.status}}
            </td>
            <td>
                <button onclick="window.location.href = 'mailto:example@email.com';">Send Email</button>
            </td>
        </tr> 
    {%endfor%}
           
</table>
</body>
{% endblock %}