{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<style>
  .signup-frame {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}
</style>
<body>
<form method="POST" class="signup-frame">
  <h3 align="center">הרשמה למערכת</h3>
  <div class="form-group">
    <label for="email">כתובת מייל</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="הכנס מייל"
    />
  </div>
  <div class="form-group">
    <label for="firstName">שם</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="שם מלא"
    />
  </div>
  <div class="form-group">
    <label for="password1">סיסמא</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="הכנס סיסמא"
    />
  </div>
  <div class="form-group">
    <label for="password2">אימות סיסמא</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="אימות סיסמא"
      />
  </div>
  <div class="form-group">
    <label for="Lid">מס רישיון עורך דין</label>
    <input
      type="Lid"
      class="form-control"
      id="Lid"
      name="Lid"
      placeholder="הכנס מס רישיון"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">הרשם</button>
</form>
{% endblock %}
</body>
